.App {
  /* Expand the app box full height even if content doesn't fill it */
  min-height: 100%;

  /* Provide bottom spacing, but not top or horizontal spacing */
  padding: 0 0 var(--space) 0;
}

.App-header,
.App-children {
  /* Cap max-width of app in big screens and center it horizontally */
  max-width: var(--min-width-large);
  margin: auto;
}
