.App {
  /* Expand the app box full height even if content doesn't fill it */
  min-height: 100%;

  /* Provide spacing for rounded corners. */
  padding: var(--space);

  /* Cap max-width of app in big screens and center it horizontally */
  /* TODO: Remove magic number and replace with variable, matching the responsive cuts */
  max-width: 1024px;
  margin: auto;
}
