.Paper {
  /* Style */
  border-radius: var(--border-radius-base);
  background-color: var(--background-color-base);
  box-shadow: var(--box-shadow-paper);

  /* Spacing */
  padding: var(--space);
  margin-bottom: var(--space);
}

.Paper-separator {
  height: 1px;
  background-color: var(--wmui-color-base80);
  margin: var(--space) calc(-1*var(--space));
}