.Content-page::after {
  /* The cContent should never allow content overlap. Add an empty node that
     clears the left and right so that the content container can wrap its
     contents fully even if they're floated.
     http://localhost:3000/wiki/CSNK2A2?oldid=774042184 */
   content: "";
   clear: both;

   /* Make the node dimensionless. */
   display: block;
   width: 0;
   height: 0;

   /* Forbid scrollbars and hide. */
   overflow: hidden;
   visibility: hidden;
}
