.Page {
}

.Page-header {
  /* Top spacing of 3 units */
  padding-top: calc(var(--space) * 3);
}

.Page-title {
  font-size: var(--font-size-page-title);
  /* TODO: Extract to typography components once we have the specs */
  font-weight: bold;
  line-height: var(--line-height-heading);
}

.Page-subtitle {
  /* TODO: Extract to typography components once we have the specs */
  font-size: var(--font-size-page-subtitle);
  color: var(--wmui-color-base20);
}
