/* Containers */

/* http://localhost:3000/wiki/China/804850001#Landscape_and_climate */
.Content .thumbinner,
/* http://localhost:3000/wiki/Pablo_Picasso/804068218#Synthetic_cubism:_1912.E2.80.931919 */
.Content .gallerybox,
.Content .gallerybox .thumb {
  width: auto !important;
  height: auto !important;
}

/* http://localhost:3000/wiki/China/804850001#Landscape_and_climate */
.Content .thumbinner > div {
  /* Center text and images within the div. */
  text-align: center;
}

.Content .gallery {
  /* The list is semantic-only. Hide the bullets.
     http://localhost:3000/wiki/Picasso's_Blue_Period/801460321 */
  list-style-type: none;
}

/* Images */

.Content img,
/* http://localhost:3000/wiki/Film/803321621#Early_evolution */
.Content video {
  /* Limit videos and images to the window width and always proportionally scale
     height. */
  max-width: 100% !important;
  height: auto !important;

  /* Vertically center inline images. */
  vertical-align: middle;
}

/* Captions */

/* http://localhost:3000/wiki/Pablo_Picasso/804068218#Early_life */
.Content figcaption,
/* http://localhost:3000/wiki/Pablo_Picasso/804068218#Before_1900 */
.Content .thumbcaption,
/* http://localhost:3000/wiki/Pablo_Picasso/804068218#Synthetic_cubism:_1912.E2.80.931919 */
.Content .gallerytext {
  margin: .5em 0;
  font-size: var(--font-size-caption);
  color: var(--wmui-color-base20);
}
