.PageSummary {
  /* TODO: remove once the pages/Wiki is using a ContentPage component that has
  its own inner spacing rules */
  padding: var(--space);
}

.PageSummary-header {}
.PageSummary-title {}
.PageSummary-description {}
.PageSummary-description::first-letter {
  text-transform: uppercase;
}

.PageSummary-body {
}
.PageSummary-thumbnail {
  float: left;
  margin: 0 var(--space) var(--space) 0;
}
.PageSummary-extract {
}

.PageSummary-footer {
  clear: both;
}
.PageSummary-lastModified {
}
