.PageSummary {}
.PageSummary:after {
  /* Add an empty node that clears the left and right so the page summary
     container can wrap its contents fully even if they're floated. */
  content: "";
  clear: both;

  /* Make the node dimensionless. */
  display: block;
  width: 0;
  height: 0;

  /* Forbid scrollbars and hide. */
  overflow: hidden;
  visibility: hidden;
}

.PageSummary-thumbnail {
  background: var(--wmui-color-base0);

  /* Center the image within the container. */
  text-align: center;

  /* Set the container to occupy the full-width. */
  display: inline-block;
  width: 100%;
}
/* TODO: use CSS variable. */
@media (min-width: 1024px) {
  .PageSummary-thumbnail {
    /* Wrap the container to the width of the image and left-align it. Floating
       takes precedence over display. */
    width: unset;
    float: left;

    /* Since the image is side-by-side with, and possibly below the text, add a
       margin. */
    margin: var(--space) var(--space) 0 0;
  }
}
.PageSummary-thumbnail-image {
  /* Don't pad the linked image with text descender space. */
  vertical-align: top;
}
.PageSummary-thumbnail-image-landscape {
  /* Stretch the image to occupy the available width and proprotionally scale
     the height. */
  width: 100%;
  height: auto;
}
/* TODO: use CSS variable. */
@media (min-width: 1024px) {
  .PageSummary-thumbnail-image-landscape {
    /* The screen is too large to maximize the image. Use the image's native
       width and height. */
    width: unset;
    height: unset;
  }
}
.PageSummary-thumbnail-image-portrait {}

.PageSummary-extract-lead {}
.PageSummary-extract-body {}
