/**
 * Style Parsoid HTML+RDFa output consistent with wikitext from PHP parser.
 * https://phabricator.wikimedia.org/source/mediawiki/browse/master/resources/src/mediawiki.skinning/content.parsoid.less;4180ba1229eae419233e5775eef0db226baf754d
 */
/*
 * Auto-numbered external links
 * Parsoid renders those as link without content, and lets CSS do the
 * counting. This way the counting style can be customized, and counts update
 * automatically when content is modified.
 */
 .mw-parser-output {
  counter-reset: mw-numbered-ext-link;
}
.mw-parser-output a[rel~='mw:ExtLink']:empty:after {
  content: '[' counter(mw-numbered-ext-link) ']';
  counter-increment: mw-numbered-ext-link;
}
/**
 * References
 *
 * Parser and Extension:Cite output reference numbers for <sup>[1]</sup> for <ref> tags.
 *
 * Markup:
 * Cake is good<sup>[2]</sup>
 * The cake is a lie<span class="reference">[1]</span>
 *
 * Styleguide 1.1.
 */
span.reference {
  font-size: 80%;
  line-height: 1;
  vertical-align: super;
  unicode-bidi: -moz-isolate;
  unicode-bidi: isolate;
}
sup,
sub {
  line-height: 1;
}
/**
 * Block media items
 */
figure[typeof*='mw:Image'],
figure[typeof*='mw:Video'],
figure[typeof*='mw:Audio'] {
  margin: 0;
  /* Hide the caption for frameless and plain floated images */
}
figure[typeof*='mw:Image'] a,
figure[typeof*='mw:Video'] a,
figure[typeof*='mw:Audio'] a {
  border: 0;
}
figure[typeof*='mw:Image'].mw-halign-right,
figure[typeof*='mw:Video'].mw-halign-right,
figure[typeof*='mw:Audio'].mw-halign-right {
  /* @noflip */
  margin: 0.5em 0 1.3em 1.4em;
  /* @noflip */
  clear: right;
  /* @noflip */
  float: right;
}
figure[typeof*='mw:Image'].mw-halign-left,
figure[typeof*='mw:Video'].mw-halign-left,
figure[typeof*='mw:Audio'].mw-halign-left {
  /* @noflip */
  margin: 0.5em 1.4em 1.3em 0;
  /* @noflip */
  clear: left;
  /* @noflip */
  float: left;
}
figure[typeof*='mw:Image'].mw-halign-none,
figure[typeof*='mw:Video'].mw-halign-none,
figure[typeof*='mw:Audio'].mw-halign-none {
  margin: 0;
  clear: none;
  float: none;
}
figure[typeof*='mw:Image'].mw-halign-center,
figure[typeof*='mw:Video'].mw-halign-center,
figure[typeof*='mw:Audio'].mw-halign-center {
  margin: 0 auto 0.5em auto;
  display: table;
  border-collapse: collapse;
  clear: none;
  float: none;
}
figure[typeof*='mw:Image'] > figcaption,
figure[typeof*='mw:Video'] > figcaption,
figure[typeof*='mw:Audio'] > figcaption {
  display: none;
}
figure[typeof~='mw:Image/Thumb'],
figure[typeof~='mw:Video/Thumb'],
figure[typeof~='mw:Audio/Thumb'],
figure[typeof~='mw:Image/Frame'],
figure[typeof~='mw:Video/Frame'],
figure[typeof~='mw:Audio/Frame'] {
  display: table;
  text-align: center;
  border: 1px solid #c8ccd1;
  border-collapse: separate;
  border-spacing: 3px;
  background-color: #f8f9fa;
  width: 1px;
  margin: 0.5em 0 1.3em 1.4em;
  clear: right;
  float: right;
}
figure[typeof~='mw:Image/Thumb'].mw-halign-center,
figure[typeof~='mw:Video/Thumb'].mw-halign-center,
figure[typeof~='mw:Audio/Thumb'].mw-halign-center,
figure[typeof~='mw:Image/Frame'].mw-halign-center,
figure[typeof~='mw:Video/Frame'].mw-halign-center,
figure[typeof~='mw:Audio/Frame'].mw-halign-center {
  border-collapse: separate;
}
figure[typeof~='mw:Image/Thumb'] > *:first-child > img,
figure[typeof~='mw:Video/Thumb'] > *:first-child > img,
figure[typeof~='mw:Audio/Thumb'] > *:first-child > img,
figure[typeof~='mw:Image/Frame'] > *:first-child > img,
figure[typeof~='mw:Video/Frame'] > *:first-child > img,
figure[typeof~='mw:Audio/Frame'] > *:first-child > img,
figure[typeof~='mw:Image/Thumb'] > *:first-child > video,
figure[typeof~='mw:Video/Thumb'] > *:first-child > video,
figure[typeof~='mw:Audio/Thumb'] > *:first-child > video,
figure[typeof~='mw:Image/Frame'] > *:first-child > video,
figure[typeof~='mw:Video/Frame'] > *:first-child > video,
figure[typeof~='mw:Audio/Frame'] > *:first-child > video {
  border: 1px solid #c8ccd1;
  background: #fff;
}
figure[typeof~='mw:Image/Thumb'] > figcaption,
figure[typeof~='mw:Video/Thumb'] > figcaption,
figure[typeof~='mw:Audio/Thumb'] > figcaption,
figure[typeof~='mw:Image/Frame'] > figcaption,
figure[typeof~='mw:Video/Frame'] > figcaption,
figure[typeof~='mw:Audio/Frame'] > figcaption {
  display: block;
  /* In mw-core the font-size is duplicated, 94% in thumbiner
		 * and again 94% in thumbcaption. 88.4% for font size of the
		 * caption results in the same behavior. */
  font-size: 88.4%;
  line-height: 1.4em;
  text-align: left;
  /* taken from .thumbcaption, plus .thumbinner */
  padding: 3px;
}
figure[typeof*='mw:Image/Thumb'] > a:after,
figure[typeof*='mw:Video/Thumb'] > a:after,
figure[typeof*='mw:Audio/Thumb'] > a:after {
  content: '';
  width: 15px;
  height: 11px;
  margin: 3px;
  margin-bottom: 0;
}
.mw-content-ltr figure[typeof*='mw:Image/Thumb'] > a:after,
.mw-content-ltr figure[typeof*='mw:Video/Thumb'] > a:after,
.mw-content-ltr figure[typeof*='mw:Audio/Thumb'] > a:after {
  /* @noflip */
  float: right;
  /* @noflip */
  background-image: url(/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.png?4f704);
  /* @noflip */
  background-image: linear-gradient(transparent, transparent), url(/w/resources/src/mediawiki.skinning/images/magnify-clip-ltr.svg?7fa0a);
}
.mw-content-rtl figure[typeof*='mw:Image/Thumb'] > a:after,
.mw-content-rtl figure[typeof*='mw:Video/Thumb'] > a:after,
.mw-content-rtl figure[typeof*='mw:Audio/Thumb'] > a:after {
  /* @noflip */
  float: left;
  /* @noflip */
  background-image: url(/w/resources/src/mediawiki.skinning/images/magnify-clip-rtl.png?a9fb3);
  /* @noflip */
  background-image: linear-gradient(transparent, transparent), url(/w/resources/src/mediawiki.skinning/images/magnify-clip-rtl.svg?96de0);
}
/* Same as img.thumbborder in content.css */
.mw-image-border > *:first-child > img,
.mw-image-border > *:first-child > video {
  border: 1px solid #eaecf0;
}
/**
 * Avoid the need to calculate paddings individually
 * https://stackoverflow.com/a/7310398
 */
.mw-gallery-traditional .gallerybox .thumb:before {
  content: '';
  vertical-align: middle;
  display: inline-block;
  height: 100%;
}
.mw-gallery-traditional .gallerybox .thumb > * {
  vertical-align: middle;
  display: inline-block;
}
/**
 * Inline media items
 */
.mw-valign-middle > *:first-child > img,
.mw-valign-middle > *:first-child > video {
  vertical-align: middle;
}
.mw-valign-baseline > *:first-child > img,
.mw-valign-baseline > *:first-child > video {
  vertical-align: baseline;
}
.mw-valign-sub > *:first-child > img,
.mw-valign-sub > *:first-child > video {
  vertical-align: sub;
}
.mw-valign-super > *:first-child > img,
.mw-valign-super > *:first-child > video {
  vertical-align: super;
}
.mw-valign-top > *:first-child > img,
.mw-valign-top > *:first-child > video {
  vertical-align: top;
}
.mw-valign-text-top > *:first-child > img,
.mw-valign-text-top > *:first-child > video {
  vertical-align: text-top;
}
.mw-valign-bottom > *:first-child > img,
.mw-valign-bottom > *:first-child > video {
  vertical-align: bottom;
}
.mw-valign-text-bottom > *:first-child > img,
.mw-valign-text-bottom > *:first-child > video {
  vertical-align: text-bottom;
}